
<table class="table">
	<thead>
		<tr>
			<th>Like any of our Facebook groups to find smashers in your area!</th>
		</tr>
	</thead>
	<tbody ng-repeat="group in facebook">
		<tr>
			<td><a href="{{group.link}}" target="_blank">{{group.name}}</a></td>
		</tr>
	</tbody>
</table>

<br>

<div class="col-md-7"><p class="text-right">Follow us on Twitter to hear about upcoming tournaments and upcomig updates to the site</p></div>
<div class="col-md-5"><a href="#" target="_blank"><img src="img/twitter.jpg" class="img-thumbnail img-circle"></a></div>
<!--TODO maybe link to a google calendar if you can get oregon to put all events on there!-->
