<!--TODO Move the image and title code into index.html and use angular to get the right stuff!-->
<div class="col-md-3"></div>
<div class="col-md-6"><img src="img/icies.jpg" class="img-rounded img-thumbnail"></div>
<div class="col-md-3"></div>
<div class="col-md-4"></div>
<div class="col-md-4"><h1>Contact Us</h1></div>
<div class="col-md-4" ></div>

<!--TODO the tables look funky, fix them!-->
<table class="table">
	<thead>
		<tr>
			<th>Like any of our Facebook groups to find smashers in your area!</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Oregon</td>
			<td><a href="#" target="_blank">http://www.facebook.com/;kajlkj;ljlkjfasdfj</a></td>
		</tr>
		<tr>
			<td>Eugene</td>
			<td><a href="#" target="_blank">http://www.facebook.com/;kajlkj;ljlkjfasdfj</a></td>
		</tr>
			<tr>
			<td>Corvallis</td>
			<td><a href="#" target="_blank">http://www.facebook.com/;kajlkj;ljlkjfasdfj</a></td>
		</tr>
			<tr>
			<td>Clatsop County</td>
			<td><a href="#" target="_blank">http://www.facebook.com/;kajlkj;ljlkjfasdfj</a></td>
		</tr>
		<tr>
			<td>Central Oregon</td>
			<td><a href="#" target="_blank">http://www.facebook.com/;kajlkj;ljlkjfasdfj</a></td>
		</tr>
	</tbody>
</table>

<br>

<table class="table">
	<thead>
		<tr>
			<th>We also have some threads on Smashboards, although everyone uses Facebook more</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="#" target="_blank">http://www.smashboards.com/ldkjaflkjdbadiuhgao</a></td>
		</tr>
	</tbody>
</table>

<br>

<div class="col-md-7"><p class="text-right">Follow us on Twitter to hear about upcoming tournaments and smashfests as soon as possible</p></div>
<!--TODO get a image that can be used not as a circle!-->
<div class="col-md-5"><a href="#" target="_blank"><img src="img/twitter.jpg" class="img-thumbnail img-circle"></a></div>

<!--TODO maybe link to a google calendar if you can get oregon to put all events on there!-->
