

<!--TODO Use angular to move this information out of the webpage !-->

<!--TODO change the fox image to something better!-->

<!--TODO Move the image and title code into index.html and use angular to get the right stuff!-->
<div class="col-md-3"></div>
<div class="col-md-6"><img src="img/fox.jpg" class="img-rounded img-thumbnail"></div>
<div class="col-md-3"></div>
<div class="col-md-4"></div>
<div class="col-md-4"><h1>Power Rankings</h1></div>
<div class="col-md-4" ></div>

<div class="col-md-6"><p>These are the power rankings for Oregon, as of March 2014</p></div>
<div class="col-md-2">Display Power Rankings for what year?</div>
<div class="col-md-2">
	<select ng-model="tyear">
	<option value="2014"> 2014</option>
	<option value="2012"> 2012</option>
	<option value="2007"> 2007</option></select>
</div>

<!--TODO make it so placings higher than before are blue and red otherwise!-->
<!--TODO Edit the CSS and reduce the border, or find the right size for the main icons!-->
<!--TODO Make the player name link to their profile page!-->
<!--TODO make the main picture link to a page with everybody who mains that main! Or maybe just to the rankings page but with a filter for that character, I like that better!-->
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Rank</th>
			<th>Name</th>
			<th>Elo</th>
			<th>Played Since</th>
			<th>Previous place</th>
			<th>Main</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>Arya Stark</td>
			<td>1313</td>
			<td>2012</td>
			<td>2</td>
			<td><div class="col-xs-1"><img src="img/fox.jpg" class="img-circle img-thumbnail"></div></td>
		</tr>
			<tr>
			<td>2</td>
			<td>Arya Stark</td>
			<td>1313</td>
			<td>2012</td>
			<td>2</td>
			<td><div class="col-xs-1"><img src="img/fox.jpg" class="img-circle img-thumbnail"></div></td>
		</tr>
			<tr>
			<td>3</td>
			<td>Arya Stark</td>
			<td>1313</td>
			<td>2012</td>
			<td>2</td>
			<td><div class="col-xs-1"><img src="img/fox.jpg" class="img-circle img-thumbnail"></div></td>
		</tr>
			<tr>
			<td>4</td>
			<td>Arya Stark</td>
			<td>1313</td>
			<td>2012</td>
			<td>2</td>
			<td><div class="col-xs-1"><img src="img/fox.jpg" class="img-circle img-thumbnail"></div></td>
		</tr>
			<tr>
			<td>5</td>
			<td>Arya Stark</td>
			<td>1313</td>
			<td>2012</td>
			<td>2</td>
			<td><div class="col-xs-1"><img src="img/fox.jpg" class="img-circle img-thumbnail"></div></td>
		</tr>
			<tr>
			<td>6</td>
			<td>Arya Stark</td>
			<td>1313</td>
			<td>2012</td>
			<td>2</td>
			<td><div class="col-xs-1"><img src="img/fox.jpg" class="img-circle img-thumbnail"></div></td>
		</tr>
			<tr>
			<td>7</td>
			<td>Arya Stark</td>
			<td>1313</td>
			<td>2012</td>
			<td>2</td>
			<td><div class="col-xs-1"><img src="img/fox.jpg" class="img-circle img-thumbnail"></div></td>
		</tr>
			<tr>
			<td>8</td>
			<td>Arya Stark</td>
			<td>1313</td>
			<td>2012</td>
			<td>2</td>
			<td><div class="col-xs-1"><img src="img/fox.jpg" class="img-circle img-thumbnail"></div></td>
		</tr>
			<tr>
			<td>9</td>
			<td>Arya Stark</td>
			<td>1313</td>
			<td>2012</td>
			<td>2</td>
			<td><div class="col-xs-1"><img src="img/fox.jpg" class="img-circle img-thumbnail"></div></td>
		</tr>
			<tr>
			<td>10</td>
			<td>Arya Stark</td>
			<td>1313</td>
			<td>2012</td>
			<td>2</td>
			<td><div class="col-xs-1"><img src="img/fox.jpg" class="img-circle img-thumbnail"></div></td>
		</tr>
	</tbody>
