<!--TODO Fetch this data from a json file!-->
<div class="col-md-4"><img src="img/arya.jpg" class="img-thumbnail img-circle"></div>
<div class="col-md-8"><h1>Arya Stark</h1></div>
<div class="col-md-4">
	<p>Main: Fox</p>
	<p>Secondaries: None</p>
	<p>Ranked games played: 60</p>
	<p>Played since: 2011</p>
	<p>Hometown: Winterfell =(</p>
	<p>Elo: 1313</p>
	<!--TODO Hide this if the player is not on the PR!-->
	<p>Position on the PR: 1</p>
	<!--TODO Hide this if the player has not been on the PR!-->
	<!--TODO Make this go to the 2012 PR!-->
	<p>Previous times been on the PR: <a href="#/pr">2012</a>
	<li class="dropdown">
		<a href="#" data-toggle="dropdown" class="dropdown-toggle">Tournaments Attended
	<b class="caret"></b></a>
		<ul class="dropdown-menu">
		<!--TODO Make these go to the right tourney!-->
			<li><a href="#/tourney">Bloody Mummers Smashfest</a></li>
		</ul>
	</li>
<br>

<!--TODO give this actual functionality and hide it if the profile has already been claimed!-->
<button type="button" class="btn btn-warning">Claim Profile

<!--TODO a table with the last games played!-->
<!--TODO Fun stat analysis like nemesis (who beats you most in tournament) and whatever the opposite is!-->
<!--TODO algorithmically decide the best tournanment (whichever tournament made you go up the most elo)!-->
<!--TODO Moneymatch Feature?!-->