
<!--TODO Add an upcoming tournaments sidebar !-->

<div class="col-md-3"></div>
<div class="col-md-6"><img src="img/falcon.jpg" class="img-rounded img-thumbnail"></div>
<div class="col-md-3"></div>
<div class="col-md-4"></div>
<div class="col-md-6"><h1>Oregon ELO Rankings</h1></div>
<div class="col-md-2"></div>
<!--TODO add a note somewhere on the site about out of state elo not being complete!-->
<!--TODO Maybe add a page filter up top too, lots of forums do that!-->
<div class="col-md-8">

<!--TODO make the select default to all players!-->
	<p>Player location:</p>
	<select ng-model="playerloc">
	<option value=""> All players</option>
	<option value="instate"> Oregon only</option>
	<option value="outofstate"> Out of state only</option>
	</select>

	<br>

<!--
	<form action="">
	Show only players who have played within the last <input ng-model="playertime"> months.
	</form>
!-->
	<br>

</div>
<div class="col-md-4">Search: <input ng-model="query"></div>

<div class="col-md-2"></div>
<div class="col-md-8">
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Rank</th>
			<th>Player</th>
			<th>Elo</th>
			<th>Games played</th>
		</tr>
	</thead>
	<tbody>
	<!--TODO Add Animations!-->
	<!--I'm realizing using a database would make a lot of this easier, but oh well!-->
	<!--TODO show only 5 players at a time (10 in production version)!-->
	<!--TODO fix the variable names for playerlist.json, its weird (should have gotten rid of playerlist.json so)!-->
	<!--TODO make the rows have a out of state thumbnail to the right if the player is out of state!-->
	<!--TODO make the ng-repeat expression shorter!-->
		<tr ng-repeat="player in profiles  | filter:playerloc | filter:query | orderBy:orderProp">
			<td>{{$index+1}}</td>
			<td><a href="#/profiles/{{player.id}}">{{player.name}}</a></td>
			<td>{{player.ELO}}</td>
			<td>{{player.gamesplayed}}</td>
		</tr>
		</tbody>
	</table>
</div>

<div class="col-md-2"></div>

<div class="col-md-9"></div>

<!--TODO Figure out whether you want to do pagination or something else (maybe just show the top 100 on this page, that ideas good!-->
<!--TODO Makesure the pagination has disabled and active states!-->
<!--TODO Make the pagination actually work with angular and fetch stuff!-->
<div class="col-md-3">
These buttons are broken for the time being, and I might remove them later 
	<ul class="pagination">
		<li><a href="#">&laquo;</a></li>
		<li><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">&raquo;</a></li>
	</ul>
</div>