
<div class="col-md-8">
	<p>Player location:</p>
	<select ng-model="playerloc">
	<option value=""> All players</option>
	<option value="instate"> Oregon only</option>
	<option value="outofstate"> Out of state only</option>
	</select>

	<br>

	<br>

</div>
<div class="col-md-4">Search: <input ng-model="query"></div>

<div class="col-md-2"></div>
<div class="col-md-8">

<!--BEGIN CUTOFF HERE!-->
<div ng-controller="AccordionDemoCtrl">
  <p>
    <button class="btn btn-default btn-sm" ng-click="status.open = !status.open">Toggle last panel</button>
    <button class="btn btn-default btn-sm" ng-click="status.isFirstDisabled = ! status.isFirstDisabled">Enable / Disable first panel</button>
  </p>

  <label class="checkbox">
    <input type="checkbox" ng-model="oneAtATime">
    Open only one at a time
  </label>
  <accordion close-others="oneAtATime">
    <accordion-group heading="Static Header, initially expanded" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
      This content is straight in the template.
    </accordion-group>
    <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
      {{group.content}}
    </accordion-group>
    <accordion-group heading="Dynamic Body Content">
      <p>The body of the accordion group grows to fit the contents</p>
        <button class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
        <div ng-repeat="item in items">{{item}}</div>
    </accordion-group>
    <accordion-group is-open="status.open">
        <accordion-heading>
            I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
        This is just some content to illustrate fancy headings.
    </accordion-group>
  </accordion>
</div>
<!--END Cutoff Here****************************************************************!-->

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Rank</th>
			<th>Player</th>
			<th>Elo</th>
			<th>Games played</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="player in profiles  | filter:playerloc | filter:query | orderBy:orderProp">
			<td>{{$index+1}}</td>
			<td><a href="#/profiles/{{player.id}}">{{player.name}}</a></td>
			<td>{{player.ELO}}</td>
			<td>{{player.gamesplayed}}</td>
			<td ng-if="player.location=='outofstate'">Out of State</td>
		</tr>
		</tbody>
	</table>
</div>

<div class="col-md-2"></div>

<div class="col-md-9"></div>

<!--TODO Figure out whether you want to do pagination or something else (maybe just show the top 100 on this page, that ideas good!-->
<!--TODO Makesure the pagination has disabled and active states!-->
<!--TODO Make the pagination actually work with angular and fetch stuff!-->
<div class="col-md-3">
These buttons are broken for the time being, and I might remove them later 
	<ul class="pagination">
		<li><a href="#">&laquo;</a></li>
		<li><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">&raquo;</a></li>
	</ul>
</div>