<!--TODO Move the image and title code into index.html and use angular to get the right stuff!-->

<!--<div class="col-md-3"></div>
<div class="col-md-6"><img src="img/m2k.jpg" class="img-rounded img-thumbnail"></div>
<div class="col-md-3"></div>
<div class="col-md-4"></div>
<div class="col-md-4"><h1>Submit a tournament</h1></div>
<div class="col-md-4"></div>!-->

<div class="col-md-12">
<p>Don't be lazy, and submit your tournaments to us so they can be tracked on this website. It's as simple as 1,2,3 clicks, and you don't even have to worry about brackets that mess up your elo, just select the unranked option</p>
</div>

<div class="col-md-4">
<h1>Option 1: If your bracket is a Challonge bracket</h1>

<!--TODO might need a type="eccettera"!-->
<!--TODO make these actually do stuff-->
<form>
<input class="form-control" id="bracketlink" placeholder="Link to bracket">
<div class="checkbox">
	<label><input type="checkbox"> Ranked?</label>
</div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

<div class="col-md-4">
<h1>Option 2: If you have a tio bracket on your computer</h1>

<form>
<input class="form-control" id="challongekey" placeholder="Challonge ID Key">
<!--TODO Make this input open up a explorer window!-->
<input class="form-control" id="tiofile" placeholder="TIO File location">
<div class="checkbox">
	<label><input type="checkbox"> Ranked?</label>
</div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>


<div class="col-md-4">
<h1>Option 3: If you have the bracket some other way</h1>

<p> Send an email to example@mail.com with the bracket and explaining how it is different, we will work to add it to the site</p>
</div>