
<!--TODO add an animation so that this goes bwoom expanding and contracting like cool stuff!-->

<div class="col-md-4"></div>
<div class="col-md-8"><p>Upcoming Tournaments</p></div>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Date</th>
			<th>Name</th>
			<th>City</th>
			<th>Location</th>
		</tr>
	</thead>
	<tbody ng-repeat="tournament in futuretournaments">
		<tr>
			<td>{{tournament.date}}</td>
			<td><a href="{{tournament.link}}" target="_blank">{{tournament.name}}</a></td>
			<td>{{tournament.city}}</td>
			<td>{{tournament.location}}</td>
		</tr>
	</tbody>
</table>

<p>Past Tournaments</p>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Date</th>
			<th>Name</th>
			<th>City</th>
			<th>Entrants</th>
		</tr>
	</thead>
	<tbody ng-repeat="tournament in pasttournaments">
		<tr>
			<th>{{tournament.date}}</th>
			<th><a href="#/tournaments/{{tournament.id}}">{{tournament.name}}</a></th>
			<th>{{tournament.city}}</th>
			<th>{{tournament.entrants}}</th>
		</tr>
	</tbody>
</table>


<!--TODO Make sure to only display like 10 per page (eventually, no need to launch with this feature as it will take time to accrue tournament results)!-->

