

<div class="col-md-3"></div>
<div class="col-md-6"><img src="img/mango.jpg" class="img-rounded img-thumbnail"></div>
<div class="col-md-3"></div>
<div class="col-md-4"></div>
<div class="col-md-4"><h1>Tournaments</h1></div>
<div class="col-md-4"></div>

<!--TODO make the link on past tournaments open up a partial partial view in here, with a back, not getting rid of the mango pic!-->

<!--TODO use like $HTTP to fetch this data from elsewhere!-->
<!--TODO have some kind of icon for the More info spot!-->
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Date</th>
			<th>Name</th>
			<th>City</th>
			<th>Location</th>
			<th>More info</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>12/13</td>
			<td>Smashing on the Blackwater</td>
			<td>King's Landing</td>
			<td>The Red Keep</td>
			<td><a href="#" target="_blank">More info</a></td>
		</tr>
		<tr>
			<td>12/13</td>
			<td>Smashing on the Blackwater</td>
			<td>King's Landing</td>
			<td>The Red Keep</td>
			<td><a href="#" target="_blank">More info</a></td>
		</tr>
		<tr>
			<td>12/13</td>
			<td>Smashing on the Blackwater</td>
			<td>King's Landing</td>
			<td>The Red Keep</td>
			<td><a href="#" target="_blank">More info</a></td>
		</tr>
	</tbody>
</table>

<p>Past Tournaments</p>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Date</th>
			<th>Name</th>
			<th>City</th>
			<th>Entrants</th>
			<th>Results</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>10/5</th>
			<th>Bloody Mummers Smashfest</th>
			<th>Harrenhal</th>
			<th>21</th>
			<th><a href="#/tourney">Click here</a></th>
		</tr>
	</tbody>
</table>


<!--TODO Make sure to only display like 10 per page (eventually, no need to launch with this feature as it will take time to accrue tournament results)!-->

