

<div class="col-md-3"></div>
<div class="col-md-6"><img src="img/mango.jpg" class="img-rounded img-thumbnail"></div>
<div class="col-md-3"></div>
<div class="col-md-4"></div>
<div class="col-md-4"><h1>Tournaments</h1></div>
<div class="col-md-4"></div>

<!--TODO make the link on past tournaments open up a partial partial view in here, with a back, not getting rid of the mango pic!-->

<!--TODO have some kind of icon for the More info spot!-->

<!--TODO this needs to be in the right spot!-->
<p> Upcoming Tournaments</p>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Date</th>
			<th>Name</th>
			<th>City</th>
			<th>Location</th>
			<th>More info</th>
		</tr>
	</thead>
	<tbody ng-repeat="tournament in futuretournaments">
		<tr>
			<td>{{tournament.date}}</td>
			<td>{{tournament.name}}</td>
			<td>{{tournament.city}}</td>
			<td>{{tournament.location}}</td>
			<td><a href="{{tournament.link}}" target="_blank">More info</a></td>
		</tr>
	</tbody>
</table>

<p>Past Tournaments</p>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Date</th>
			<th>Name</th>
			<th>City</th>
			<th>Entrants</th>
			<th>Results</th>
		</tr>
	</thead>
	<tbody ng-repeat="tournament in pasttournaments">
		<tr>
			<th>{{tournament.date}}</th>
			<th>{{tournament.name}}</th>
			<th>{{tournament.city}}</th>
			<th>{{tournament.entrants}}</th>
			<th><a href="#/tournaments/{{tournament.id}}">Click here</a></th>
		</tr>
	</tbody>
</table>


<!--TODO Make sure to only display like 10 per page (eventually, no need to launch with this feature as it will take time to accrue tournament results)!-->

