<div class="col-md-4"></div>
<div class="col-md-4"><h3>{{tournament.name}}</h3></div>
<div class="col-md-4"></div>
<div class="col-md-8">
	<li>Date: {{tournament.date}}</li>
	<li>Location: {{tournament.location}}</li>
	<li>City: {{tournament.city}}</li>
	<li>Entrants: {{entrants}}</li>
</div>

<!--TODO Change this to an embedded version of challonge, or just link to challonge directly!-->
<div class="col-md-4"><img src="img/masterhand.jpg" class="img-rounded img-thumbnail"></div>


<table class="table table-bordered">
	<thead>
		<tr>
			<th>Place</th>
			<th>Name</th>
			<th>Change in Elo</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="player in tournament.results | orderBy:orderProp">
			<th>{{player.place}}</th>
			<th><a href="#/profiles/{{player.id}}">{{player.name}}</a></th>
			<th><p ng-class="{blue: player.eloshift > 0, red: player.eloshift < 0}">{{player.eloshift}}</p></th>
		</tr>
	</tbody>
</table>