<div class="col-md-8">

</div>

<div class="col-md-2"></div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th></th>
            <th ng-repeat="p in playerlist"><a href="#/profiles/Melee-{{ p }}">{{ p }}</a></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="p in playerlist">
            <td><a href="#/profiles/Melee-{{ p}}">{{ p }}</a></td>
            <td ng-repeat="o in playerlist">
                <span ng-if="p == o">X</span>
                <span ng-if="p != o && (scores[p][o].wins > 0 || scores[p][o].losses > 0)" >{{ scores[p][o].wins }} - {{ scores[p][o].losses }}</span>
            </td>
        </tr>
    </tbody>
</table>

<div class="col-md-2"></div>

<div class="col-md-9"></div>
