<div class="col-md-4" ng-cloak><!--<img ng-src="img/{{player.id}}.jpg" class="img-circle img-thumbnail">!--></div>
<div class="col-md-8"><h1>{{player.name}}</h1></div>
<!--<div class="col-md-4"></div>!--><!--TODO This makes people without pictures not look righht!-->
<div class="col-md-4">
	<!--<p>Main: {{player.main}}</p>
	<!--TODO make this not show up without secondaries!-->
	<!--<p>Secondaries: <li ng-repeat="secondary in player.secondaries"><div class="col-md-1"></div>{{secondary}}</li></p>
	<p>Ranked games played: {{player.gamesplayed}}</p>
	<p>Played since: {{player.age}}</p>
	<p>Hometown: {{player.hometown}}</p>
	<p>Elo: {{player.ELO}}</p>
	</div>
	<p>Game: {{player.game}}</p>
	<p>Number of Tournaments: {{player.num_tourneys}}</p>
	<p>Tournaments: {{player.tournaments}}</p><!--Eventually this should link!-->
	<p>Games: {{player.games}}</p>
	<p>Wins: {{player.wins}}</p>
	<p>Rating: {{player.rating*50 | number:0}}</p>

<div class="col-md-4">Match Search: <input class="search-bar" ng-model="query"></div>

	Matches played

<table class="table table-bordered">
	<thead>
		<th>Date</th>
		<th>Opponent</th>
		<th>Winner</th>
		<th>Skill Change</th>
	</thead>
	<tbody>
		<tr ng-repeat="match in player.matches | filter:query">
			<th><a href="#/tournaments/{{getTournamentID(match.DATE,player.game)}}"> {{match.DATE}}</a></th>
			<th ng-hide="match.Player1 == player.name"> 
			<a href="#/profiles/{{player.game}}-{{match.Player1}}">
				{{match.Player1}}</a>
			</th>

			<th ng-hide="match.Player2 == player.name">
			<a href="#/profiles/{{player.game}}-{{match.Player2}}">
			{{match.Player2}} </th></a>
			<th> {{match.winner}} </th>
			<th ng-show="match.Player1 == player.name">
			<p ng-class="{blue:match.P1SkillCH*40 > 0, red:match.P1SkillCH*40 < 0}"> 
			{{match.P1SkillCH*50 | number:0}}
			</p></th>

			<th ng-show="match.Player2 == player.name">
			<p ng-class="{blue:match.P2SkillCH*40 > 0, red:match.P2SkillCH*40 < 0}">
			{{match.P2SkillCH*50 | number:0}}
			</p></th>
		</tr>
	</tbody>
</table>
