<div class="col-md-4" ng-cloak><!--<img ng-src="img/{{player.id}}.jpg" class="img-circle img-thumbnail">!--></div>
<div class="col-md-8"><h1>{{ player.name }}</h1></div>
<!--<div class="col-md-4"></div>!--><!--TODO This makes people without pictures not look righht!-->
<div class="col-md-4">
    <!-- I thought everyone was supposed to have at least 1 alias? !-->
    <!-- Implement Medals !-->
    <p ng-if="player.aliases.length > 0">Aliases: <span ng-repeat="alias in player.aliases">{{  alias }}<span ng-if="!$last">, </span></span> </span></p>
    <p>Games: {{ player.matches.length }}</p>
    <p ng-if="getWins() > 0">Wins: {{ getWins() }}</p>
    <p ng-if="player.place >= 0">Rating: {{ player.rating*50 | number:0}}</p>

    <div class="col-md-4">Match Search: <input class="search-bar" ng-model="query"></div>

    Matches played

    <table class="table table-bordered">
        <thead>
        <th>Date</th>
        <th>Opponent</th>
        <th>Win</th>
        <th>Skill Change</th>
        </thead>
        <tbody>
        <tr></tr>
        <tr ng-repeat="match in player.matches | filter:query">
            <th><a href="#/tournaments/{{ getTournamentID(match.date) }}"> {{ match.date }}</a></th>

            <th><a href="#/profiles/{{ player.game }}-{{ match.opponent }}">
                {{ match.opponent }}</a></th>

            <th ng-if="match.win"> {{ 'yes' }} </th>
            <th ng-if="!match.win"> {{ 'no' }}</th>

            <th>
                <p ng-class="{blue:match.skill_change*40 > 0, red:match.skill_change*40 < 0}">
                    {{ match.skill_change*50 | number:0}}
                </p>
            </th>

        </tr>
        </tbody>
    </table>
</div>
