<div class="col-md-4" ng-cloak><!--<img ng-src="img/{{player.id}}.jpg" class="img-circle img-thumbnail">!--></div>
<div class="col-md-8"><h1>{{ player.name }}</h1></div>
<!--<div class="col-md-4"></div>!--><!--TODO This makes people without pictures not look righht!-->
<div class="col-md-8">
    <!-- I thought everyone was supposed to have at least 1 alias? !-->
    <!-- Implement Medals !-->
    <div ng-if="player.aliases.length > 0">Aliases: <span ng-repeat="alias in player.aliases">{{ alias }}<span
            ng-if="!$last">, </span></span></div>
    </span>
    <div style="margin-top:5px;">Tournaments: {{ player.tournaments.length }}</div>
    <div style="margin-top:5px;">Games: {{ player.matches.length }}</div>
    <div style="margin-top:5px;" ng-if="getWins() > 0">Wins: {{ getWins() }}</div>
    <div style="margin-top:5px;" ng-if="player.place >= 0">Rating: {{ player.rating*50 | number:0}}</div>

    <div></div>

    <div style="margin-top:25px;">
        <span style="font-size:16px;">Earned Medals</span>
        <table class="table table-bordered">
            <thead>
                <th>Title</th>
                <th>Earned On</th>
                <th>Description</th>
            </thead>
            <tbody>
                <tr ng-repeat="medal in sortedMedals">
                    <td>{{medal.title}}</td>
                    <td>{{medal.short}}</td>
                    <td>{{medal.long}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="margin-top:25px;margin-left:370px;margin-bottom:25px;font-size:24px">Matches</div>

    <div ng-repeat="(key,value) in sortedMatches">
        <div style="margin-left:155px;margin-bottom:4px;">{{ key }}</div>
        <table style="margin-left:150px;" class="table table-bordered">
            <thead>
                <th>Opponent</th>
                <th>Win</th>
                <th>Skill Change</th>
            </thead>
            <tbody>
            <tr ng-repeat="match in value.matches | filter:query">
                <td><a href="#/{{ game }}/profiles/{{ match.opponent }}">
                    {{ match.opponent }}</a></td>

                <td ng-if="match.win"> {{ 'yes' }} </td>
                <td ng-if="!match.win"> {{ 'no' }}</td>

                <td>
                    <span ng-class="{blue:match.skill_change*40 > 0, red:match.skill_change*40 < 0}">
                        {{ match.skill_change*50 | number:0}}
                    </span>
                </td>

            </tr>
            </tbody>
        </table>
    </div>

    <div style="margin-top:25px;">Match Search: <input class="search-bar" ng-model="query"></div>
</div>
