<div class="col-md-8">



</div>


<div class="col-md-2"></div>

<div class="col-md-8">

<table style="margin-left:150px" class="table table-bordered" ng-init="getPlayers($route.current.game)">

	<thead>
		<tr>
			<th>Rank</th>
			<th>Player</th>
			<th>Skill</th>
<!--            <th>Medals</th>!-->
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="player in profiles | orderBy:orderProp">
			<td>{{$index+1}}</td>
			<td><a href="#/profiles/{{player.game}}-{{player.name}}">{{player.name}}</a></td>
			<td><p ng-class="{red: player.rating*50 < 1000.0, blue: player.rating*50 > 1000.0, gold: player.rating*50 > 1700.0}">{{player.rating*50 | number:0}}</td>
        </tr>
		</tbody>
	</table>
</div>