<div class="col-md-8">



</div>


<div class="col-md-2"></div>
<div class="col-md-8">
  <div class="panel-group " id="accordion">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
          Code of Conduct</a>
        </h4>
      </div>
      <div id="collapse7" class="panel-collapse collapse">
        <ul class="list-group">
          <li class="rule-panel list-group-item"><h1>ILLEGAL SUBSTANCES</h1>
            The University of Oregon is a dry campus, which means neither smoking (including vaping) nor drinking are allowed in or directly outside the venue. Players wishing to smoke must walk down the street until they are off campus or are on a barrier in the middle of the street. It is your responsibility to plan times to leave the venue in such a way that they do not conflict with your match schedule - absences of any kind will not be excuse to delay matches.
          </li>
          <li class="rule-panel list-group-item"><h1>MISINTERPRETATION</h1>
            Games or sets are not to be replayed due to a misinterpretation of the rules; it is the player’s responsibility to ask the TO for any clarification of the rule set in the event of a disagreement, and the outcome of a game or set will not be changed after the fact except under extreme circumstances.

          </li>
          <li class="rule-panel list-group-item"><h1>COLLUSION</h1>
            Any collusion or results manipulation with competitors is forbidden. If the TO determines that any competitor is colluding to manipulate results or intentionally underperform, the colluding players may be immediately disqualified. This determination is to be made at the sole discretion of the TO. Anyone disqualified in this manner forfeits all rights to any titles or prize money they might have otherwise earned.
          </li>
          <li class="rule-panel list-group-item"><h1>TO DESK</h1>
            The only people allowed behind the TO desk are designated TO’s. These TO’s reserve the right to settle any unforeseen situations that may occur, and their judgement is final. In extreme situations, rules may be altered in between phases of a tournament in the best interests of the event.
          </li>
        </ul>
      </div>
    </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Bracket Structure</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="rule-panel list-group-item"><h1>BRACKET POOLS</h1>
          When an event has bracket pools the players in the event are split into 8 groups. Each group is put into their own mini double elimination bracket, and matches are played out like they would normally until Winner’s finals of the pool. The two players in winners finals of each pool, as well as the winner of the Loser’s Semis match, are advanced into the final bracket (Winner’s Finals and Loser’s Finals are NOT PLAYED IN POOLS). By this method there will be 24 players moving into the final bracket after pools. Bracket pools may be done in waves of 4 pools at a time (in this case, the other half of the players are free to go get food or do whatever until their wave is set to start. They may NOT be able to play friendlies, as all available setups will be in use for tournament).
        </li>
        <li class="rule-panel list-group-item"><h1>ROUND ROBIN POOLS</h1>
          If an event has round robin pools the players in the event are split into a specified number of groups. Everybody in RR pool plays each other (EX 1 person in a 5 man pool will have 4 matches in pools). After all the pools matches have been played, the players will advance into the final bracket (the exact number of players who get out may differ on a tournament by tournament basis).
        </li>
        <li class="rule-panel list-group-item"><h1>FINAL BRACKETS</h1>
          These are used either as final brackets that have players advancing from pools, or it may be the only bracket of the tournament. This bracket is double elimination. Players who made it to Winner’s finals in a bracket pool will be placed into the winner’s side of the final bracket. The players advancing out of the loser’s side of pools will be placed into the loser’s side of the final bracket. All players advancing out of Round Robin Pools will be placed into the winner’s side of the final bracket.
        </li>
        <li class="rule-panel list-group-item"><h1>BEST OF 3 VS BEST OF 5</h1>
          Unless otherwise specified, all tournament sets will be best of 3 until top 4. Loser’s Semis, Winner’s Finals, Loser’s Finals, and Grand Finals will all be best of 5 sets.
        </li>
        <li class="rule-panel list-group-item"><h1>TARDINESS</h1>
          If a player is disqualified due to tardiness they will be completely DQ’d, meaning the disqualified played will be removed from both winners and losers bracket.
        </li>
      </ul>
    </div>
  </div>



    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
          General Rules (Apply to all games)</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <ul class="list-group">
          <li class="rule-panel list-group-item"><h1>STAGE STRIKING</h1>
            To pick a stage to play on Game 1, players will eliminate stages from the neutral stage list until one remains. The procedure is as follows:
                1) Players play a best-of-one Rock/Paper/Scissors match
                2) Winner may choose to have port priority (choosing which port their controller is plugged into) or the first stage strike. Port priority may be ignored if neither player brings it up.
                3) Starting with the player with first stage strike, the players will take turns striking (banning) stages from the neutral stage list, using the order specified under that game’s section (EX Melee and Smash 4 have stages struck in 1-2-1 order).
            </li>
          <li class="rule-panel list-group-item"><h1>STAGE BANS</h1>
            After each game of the set, the winner of the previous game may have the opportunity to ban a number of stages from the stage list (they may ban a neutral stage or a counterpick). Stage bans last 1 game, therefore a player who banned a stage may counterpick that stage themselves later in the set (unless it is banned by their opponent).
          </li>
          <li class="rule-panel list-group-item"><h1>NEUTRAL PORTS</h1>
            Some relative spawn points in some stages are significantly advantageous to one player/team in Melee or Smash 4. Either player/team may request, before a match begins, to have controller ports switched to avoid these situations. This request cannot be turned down. Port priority must be maintained through the switch. A list of neutral ports for each stage can be found on each game’s section.
          </li>
          <li class="rule-panel list-group-item"><h1>NEUTRAL STARTS</h1>
            Players may NEVER ask for a “neutral start” where both players move to the opposite side of the stage after the game starts and then countdown to “officially” start the game. If anybody does ask for this, use the neutral ports rule instead.
          </li>
          <li class="rule-panel list-group-item"><h1>DOUBLE BLIND</h1>
            Before game 1, in order to avoid being character counterpicked by another player after one player selects theirs, they may call for a double blind pick. The player must request this before stage striking begins. The procedure is as follows:
              1) A player requests double blind to the opponent
              2) This player calls over a pool captain or other tournament official, and tells them their character selection in secret.
              3) The other player selects their character.
              4) The official then announces the first player’s pick and that player must use that character for the first stage.

          </li>
          <li class="rule-panel list-group-item"><h1>STAGE CLAUSE</h1>
            Players may not pick ANY stage they have won on in the set previously, unless agreed upon by the opponent.
          </li>
          <li class="rule-panel list-group-item"><h1>GENTLEMAN'S RULE</h1>
            ONLY if BOTH players agree, a player may counterpick to play on a stage they have already won on. This rule may not be used to play on a stage not on that game’s legal stage list. The gentleman’s rule may not be used to agree to different game/set rules/settings (EG different amount of stocks, or items on).
          </li>
          <li class="rule-panel list-group-item"><h1>PASUING</h1>
            In the event that pause is not turned off, pausing the game is only legal while a player respawns upon their own respawn platform AFTER notifying the other player, and only for the purpose of summoning a tournament organizer, or in the event of a controller malfunction. In the case of an accidental pause, the other player has the option to cause the other player to forfeit their current stock upon unpausing. If a pause causes an opponent to lose a stock, the offending player may be required to forfeit two stocks. If such a stock loss would reduce the player to zero stocks, they lose the game regardless of the result of the match on screen. If the opponent lost their last stock of the game, and the offending player was not reduced to zero stock, the game may be replayed. All judgments are up to the TO’s final discretion.
          </li>
          <li class="rule-panel list-group-item"><h1>STALLING</h1>
            The act of stalling, or intentionally making the game unplayable, is banned and will be penalized at the discretion of a TO. Stalling tactics include but are not limited to becoming invisible, abusing infinites/chain grabs/or uninterruptible moves past 300%; or abusing a position in which one player’s opponent can never reach them. Any action that can prevent the game from continuing (e.g. freeze glitch, disappearing characters, game reset, etc.) can result in forfeiture of that game for the offending player. Players are responsible for knowing their character, and must be wary about accidentally triggering these effects.
          </li>
          <li class="rule-panel list-group-item"><h1>TIMEOUTS, TIES, AND SUDDEN DEATH</h1>
            In the case of the time reaching zero, the player with the higher stock count wins the game. If players are tied in stock, the player with the lower percent wins. If players are tied in percent, or if two players/teams lose all their last stocks simultaneously, players play a 1 stock game with a 3 minute timer to determine the result of the match. If this was a doubles game, all players play in the game.
          </li>
          <li class="rule-panel list-group-item"><h1>TEAM SHARING</h1>
            Teammates may not touch each other’s controllers during games.

            Stock sharing is allowed in doubles.
          </li>
          <li class="rule-panel list-group-item"><h1>COLORBLIND CLAUSE</h1>
            Players may request that their opponent change colors to accommodate color blindness, or if their color is indistinguishable from either the other team color or the stage background. This request must be made before the first game of the set.
          </li>
          <li class="rule-panel list-group-item"><h1>WARM-UPS</h1>
            Warm-up periods, button checks, and “handwarmers” may not exceed 60 seconds on the game clock. Violation of this rule may result in an automatic forfeit at the discretion of the TO.
          </li>
          <li class="rule-panel list-group-item"><h1>COACHING</h1>
            There will be no coaching allowed between or during games of a set. Players may have coaching between sets, including after a reset of grand finals, or any other time when the bracket is such that only one set may be played at a time. Players are always allowed 3 minutes between sets for this purpose in addition to ordinary time constraints.
          </li>
          <li class="rule-panel list-group-item"><h1>MALFUNCTIONS</h1>
            Any controller malfunctions are entirely the player’s responsibility. Players are responsible for using the correct settings BEFORE the set begins. Both parties need to agree if a match is to be paused or restarted because of a controller problem.
          </li>
          <li class="rule-panel list-group-item"><h1>WIRELESS CONTROLLERS</h1>
            Only wireless controllers licensed by Nintendo are allowed (with the exception of the WII U Gamepad for Smash 4). All use of wireless controllers must be reported a TO before their use.
          </li>

        </ul>
      </div>
    </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Melee Ruleset</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="rule-panel list-group-item"><h1>GAME SETTINGS</h1>
          4 stocks
          8 minute time limit
          Handicap OFF
          Damage ratio 1.0
          Items OFF
          Pause OFF
          Team attack ON
        </li>
        <li class="rule-panel list-group-item"><h1>LEGAL STAGES</h1>
                  <h3>SINGLES</h3>

          Neutrals:
            Yoshi’s Story     (Neutral Start: Port 1 and Port 2 )
            Fountain of Dreams (Neutral Start: Port 1 and Port 2)
            Battlefield (Neutral Start: Port 3 and Port 4)
            Final Destination (Neutral Start: Port 1 and Port 2)
            Dream Land 64 (Neutral Start: Port 2 and Port 4)

          Counterpick Only:
            Pokemon Stadium (Neutral Start: Port 3 and Port 4)

                  <h3>DOUBLES</h3>

          Neutrals:
            Yoshi’s Story (Neutral start: Ports 1/4 and Ports 2/3)
            Pokemon Stadium (Neutral start: Ports 1/4 and Ports 2/3)
            Battlefield (Neutral start: Ports 1/4 and Ports 2/3)
            Final Destination (Neutral start: Ports 1/3 and Ports 2/4)
            Dream Land 64 (Neutral start: Ports 1/4 and Ports 2/3)
         </li>
        <li class="rule-panel list-group-item"><h1>SET PROCEDURE</h1>
          Players/teams will either play a best 2 out of 3 or best 3 out of 5 game set (see Bracket structure for details)

            1)Players/teams select characters, or use double blind picks (see general rules section) if either player/team asks for it
            2) First stage is selected by stage striking in a 1-2-1 order. Neutral ports may be asked for. Neutral start may never be used. See the general rules section for a description of these rules.
            3) Game is played
            4) Counterpicking procedure takes place
              a) Game winner bans 1 stage in a best of 3, no stages in best of 5. The banned stage may not be picked in the FOLLOWING GAME ONLY.
              b) Game loser picks the next stage from among the legal stages. Players/teams may not pick ANY stage they have won on in the set except by agreement of the opponent (Stage Clause, also known as Modified Dave’s Stupid Rule).
              c) Winning player/team selects characters for the next game.
              d) Losing player/team selects characters for the next game.
              e) Next game is played
            5) Repeat steps 3-4 until one player/team has won the majority of the games in the set (thereby winning the set).
</li>
        <li class="rule-panel list-group-item"><h1>Hi BI</h1> This is what to do</li>
      </ul>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
        Project M Ruleset</a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="rule-panel list-group-item"><h1>GAME SETTINGS</h1>
          4 Stocks
          8 Minutes
          Buffer OFF
          Items OFF
          Team Attack ON
        </li>
        <li class="rule-panel list-group-item"><h1>STAGE LIST</h1>
          Neutrals:
            Battlefield
            Delfinos Secret
            Pokemon Stadium 2
            Smashville
            Green Hill Zone

          Counterpicks:
            Final Destination
            WarioWare
            Fountain of Dreams
            Dreamland 64
        </li>
        <li class="rule-panel list-group-item"><h1>SET PROCEDURE</h1>

          Players/teams will either play a best 2 out of 3 or best 3 out of 5 game set (see Bracket structure for details)

            1) Players/teams select characters, or use double blind picks (see general rules section) if either player/team asks for it
            2) First stage is selected by stage striking in a 1-2-1 order. Neutral ports are automatically set. Neutral start may never be used. See the general rules section for a description of these rules.
            3) Game is played
            4) Counterpicking procedure takes place
              a) Game winner bans 2 stages. The banned stages may not be picked in the FOLLOWING GAME ONLY.
              b) Game loser picks the next stage from among the legal stages. Players/teams may not pick ANY stage they have won on in the set except by agreement of the opponent (Stage Clause, also known as Modified Dave’s Stupid Rule).
              c) Winning player/team selects characters for the next game.
              d) Losing player/team selects characters for the next game.
              e) Next game is played
            5) Repeat steps 3-4 until one player/team has won the majority of the games in the set (thereby winning the set).

        </li>
        <li class="rule-panel list-group-item"><h1>ALTERNATE CHARACTERS</h1>
          Giga Bowser and Wario Man are banned. SoPo is allowed.
        </li>
        <li class="rule-panel list-group-item"><h1>SELF DESTRUCT RULE</h1>
          If each player has one stock remaining and the match ends due to a suicide move (Ganon’s side-B, DDD’s swallow, holding someone in a grab on a platform as it moves out of the boundaries, etc.), the player who initiated the move wins.
        </li>
      </ul>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
        Smash 4 Ruleset</a>
      </h4>
    </div>
    <div id="collapse5" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="rule-panel list-group-item"><h1>GAME SETTINGS</h1>
          2 Stocks (3 in Doubles)
          6 Minutes (8 in Doubles)
          Handicap: OFF
          Team Attack: ON
          Damage Ratio: 100%
          Items: OFF
          Pause: OFF
          Custom fighters/moves are set to off.
          Amiibos are not allowed.

          The most current patch version is to be used.

          Mii fighters are legal, using 1111 Mii Brawlers/Swordsmen/Gunners (Using default A-F standard size Miis). No other specials for Mii Fighters will be allowed. Players are not allowed to transfer existing Miis to a setup.

        </li>
        <li class="rule-panel list-group-item"><h1>STAGE LIST</h1>
          Neutrals:
          Battlefield/Miiverse (These stages are treated as one and the same)
          Dreamland 64
          Final Destination (Omegas are banned)
          Smashville
          Town and City

          Counterpicks:
          Duck Hunt
          Lylat Cruise

        </li>
        <li class="rule-panel list-group-item"><h1>SET PROCEDURE</h1>
          Players/teams will either play a best 2 out of 3 or best 3 out of 5 game set (see Bracket structure for details)

            1) Players/teams select characters, or use double blind picks (see general rules section) if either player/team asks for it
            2) First stage is selected by stage striking in a 1-2-1 order. See the general rules section for a description of these rules.
            3) Game is played
            4) Counterpicking procedure takes place
              a) Game winner bans 1 stage. The banned stage may not be picked in the FOLLOWING GAME ONLY.
              b) Game loser picks the next stage from among the legal stages. Players/teams may not pick ANY stage they have won on in the set except by agreement of the opponent (Stage Clause, also known as Modified Dave’s Stupid Rule).
              c) Winning player/team selects characters for the next game.
              d) Losing player/team selects characters for the next game.
              e) Next game is played
            5) Repeat steps 3-4 until one player/team has won the majority of the games in the set (thereby winning the set).
        </li>
        <li class="rule-panel list-group-item"><h1>TEAM COLORS</h1>
          Player’s character colors must match their team’s color when possible, to avoid confusion (ex: Luigi on the green team must use the green costume).
        </li>
        <li class="rule-panel list-group-item"><h1>SELF-DESTRUCT MOVES</h1>
          If a match ends with the successful use of a character’s self-destruct move, the results screen will determine the winner. No exceptions. If it ends in sudden death, the players will play a 1 stock game with a 3 minute timer to determine the result of the match.
        </li>
      </ul>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
        Smash 64 Ruleset</a>
      </h4>
    </div>
    <div id="collapse6" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="rule-panel list-group-item"><h1>GAME SETTINGS</h1>
          5 Stocks
          8 Minute time limit enforced by external timer.
          Items OFF
          Team Attack ON
        </li>
        <li class="rule-panel list-group-item"><h1>STAGE LIST</h1>
          Dreamland (Neutral start: Port 2 and Port 4)
        </li>
        <li class="rule-panel list-group-item"><h1>SET PROCEDURE</h1>
          Players/teams will either play a best 2 out of 3 or best 3 out of 5 game set (see Bracket structure for details)

            1) Players/teams select characters, or use double blind picks (see general rules section) if either player/team asks for it.
            2) Players play a best of 1 Rock-Paper-Scissors set with the winner choosing controller port 2 or 4, loser selecting the other.
            3) Game is played
            4) Counterpicking procedure takes place
              a) Game winner picks a character or declares to stay the same character.
              b) Game loser may then pick a new character or opt to stay the same character.
              c) Game loser may opt to change controller port to any open port.
              d) Next game is played
            5) Repeat steps 3-4 until one player/team has won the majority of the games in the set (thereby winning the set).
        </li>
        <li class="rule-panel list-group-item"><h1>TIMER</h1>
          Players or TOs may request a timer to be used and enforced. Any matches played on stream will be enforced automatically.
        </li>
        <li class="rule-panel list-group-item"><h1>CONTROLLERS</h1>
          Alternate or custom controllers/adapters such as a keyboard, Gamecube controller or a Hori Mini Pad are allowed. Players suspected of using turbo functions or other macros are subject to immediate disqualification at the discretion of the TOs.
        </li>
        <li class="rule-panel list-group-item"><h1>HARDWARE</h1>
          For all tournament matches, only original N64 Hardware will be used. If available, everdrive flash cartridges may be used on otherwise unmodified hardware for usage of the in-game timer. Usage of Wii Virtual Console or Computer emulation for tournament matches is strictly forbidden.
        </li>
      </ul>
    </div>
  </div>

</div>
</div>
