<div class="col-md-4"></div>
<div class="col-md-4"></div>
<div class="col-md-8" style="margin-bottom:10px;">
	<li>Date: {{tournament.date}}</li>
    <li>Number of Entrants: {{ tournament.entrants.length }}</li>
</div>

<table class="table table-bordered">
	<thead>
		<tr>
            <th>Place</th>
			<th>Name</th>
			<th>Rating Change</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="player in tournament.entrants | orderBy:orderProp">
			<td>{{player.place}}</td>
			<td><a href="#/profiles/{{ game }}/{{player.real_name}}">{{player.name}}</a></td>
			<td><span ng-if="player.rank_change != 'Unranked' || player.rank_change != 'Ranked!'" ng-class="{blue: player.rank_change > 0, red: player.rank_change < 0}" >
					{{player.rank_change*50| number:0}}
                </span>
                <span ng-if="player.rank_change == 'Unranked' || player.rank_change == 'Ranked!'" class="green">
                    {{ player.rank_change }}
                </span>
            </td>
		</tr>
	</tbody>
</table>

<div class="col-md-4">Match Search: <input class="search-bar" ng-model="query"></div>

<table class="table table-bordered">
	<thead>
		<th>Round</th>
		<th>Player 1</th>
		<th>Player 2</th>
		<th>Winner</th>
	</thead>
	<tbody>
		<tr ng-repeat="match in tournament.matches | filter:query | orderBy:orderProp">
			<th> {{match.rnd}}</th>
			<th><a href="#/profiles/{{ game }}/{{match.player1_real_name}}">{{match.player1}}</a> <span ng-class="{blue: match.p1_skill_change > 0, red: match.p1_skill_change < 0.0}">{{match.p1_skill_change*50 | number:0}}</span></th>
			<th><a href="#/profiles/{{ game }}/{{match.player2_real_name}}">{{match.player2}}</a> <span ng-class="{blue: match.p2_skill_change > 0, red: match.p2_skill_change < 0.0}">{{match.p2_skill_change*50 | number:0}}</span></th>
			<th><a href="#/profiles/{{ game }}/{{match.player2_real_name}}">{{match.winner}}</a></th>
		</tr>
	</tbody>
</table>
