<div class="col-md-4"></div>
<!--<div class="col-md-8"><p>Upcoming Tournaments</p></div>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Date</th>
			<th>Name</th>
			<th>City</th>
			<th>Location</th>
		</tr>
	</thead>
	<tbody ng-repeat="tournament in futuretournaments">
		<tr>
			<td>{{tournament.date}}</td>
			<td><a href="{{tournament.link}}" target="_blank">{{tournament.name}}</a></td>
			<td>{{tournament.city}}</td>
			<td>{{tournament.location}}</td>
		</tr>
	</tbody>
</table>

<p>Past Tournaments</p>!-->

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Date</th>
			<th>Entrants</th>
            <th>Winner</th>
		</tr>
	</thead>
	<tbody ng-repeat="tournament in pasttournaments | orderBy: orderProp">
		<tr>
			<th><a href="#/tournaments/{{ getTournamentID(tournament.date) }}">{{tournament.date}}</a></th>
			<th>{{tournament.entrants}}</th>
            <th><a href="#/profiles/Melee-{{ tournament.winner.real_name }}">{{tournament.winner.name}}</a></th>
		</tr>
	</tbody>
</table>


<!--TODO Make sure to only display like 10 per page!-->
